Flask==2.3.2
Jinja2==3.1.2
Werkzeug==2.3.6
Flask-Login==0.6.3          # لإدارة تسجيل دخول لوحة الأدمن
Flask-WTF==1.1.1             # لإدارة نماذج الإدخال في الأدمن
WTForms==3.0.1               # دعم نماذج HTML
Flask-SQLAlchemy==3.0.3      # للتعامل مع قاعدة البيانات SQLite بسهولة
Pillow==10.1.0               # للتعامل مع الصور (تحجيم، حفظ، رفع)
python-dotenv==1.0.0         # لإدارة متغيرات البيئة
